{%extends 'base.html'%}
{%block title%}New Patient{%endblock%}
{%block body%}
<style>
  .time-input{
    width: 50%;
    height: 40pt;
    margin-left: 20%;
  }
  .btn-edit{
        border: none;
        color: white;
        background-color: rgb(10, 91, 230);
        border-radius: 5px;
        cursor: pointer;
    }
    .btn-delete{
        background-color: rgb(252, 4, 4);
        color: white;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }
    .text-input{
    width: 50%;
    height: 40pt;
    margin-left: 10%;
  }
    .btn-primary{
        width: 30%;
        height: 30pt;
        margin-left: 20%
  }
  table{
    border: 0.5px solid;
    width: 90%;
    border-color: black;
    border-collapse: collapse;
  }
  th,td{
    border: 1px solid;
    border-collapse: collapse;
  }

</style>
<form action="{%url 'search_doctor'%}" method="post">
{%csrf_token%}
<input type="text" placeholder="search.." name="search_doctor" list="doctors" class="text-input"><br><br>
<datalist id="doctors">
    {%for doctor in doctors%}
    <option value="{{doctor.fullname}}:{{doctor.specialty}}"></option>
    {%endfor%}
</datalist>
<input type="submit" class="btn-primary"><br><br>
</form>
<table>
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Specialty</th>
        <th>Starts Work</th>
        <th>Ends work</th>
        <th>Date Added</th>

    </thead>
    <tbody>
        {%for doctor in doctors%}
        <tr>
            <td>{{doctor.id}}</td>
            <td>{{doctor.fullname}}</td>
            <td>{{doctor.email}}</td>
            <td>{{doctor.contact}}</td>
            <td>{{doctor.specialty}}</td>
            <td>{{doctor.time_starts_working}}</td>
            <td>{{doctor.time_ends_working}}</td>
            <td>{{doctor.date_added}}</td>
            <td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}