{%extends 'base.html'%}
{%block title%}Home Page{%endblock%}
{%block body%}
<h1>Welcome! To Hospital Management System</h1><br>
<div>
    <h2>About the Web App</h2>
    <p>
        This webapp was built by <a style="font-weight: bold;">ONESMUS BETT</a>
        It is a simple to use web application that can be used in small intitutions to manage <a>patients,doctors and the Pharmacy</a>. I built this web app with
        the hypothesys of : <a>Making registration of patients and doctors easy by enabling the institution to check for work shifts between Doctors</a>
        I belive that with a bit more of improvement and support this goal will be archieved.
        
    </p><br>
    <p>Message from: <a>ONESMUS BETT</a><a style="font-style: italic;"> :CEO Onesmusbett Companies</a></p>
</div>
{%endblock%}